{% load static %}

<html>

<head>
    <title>Salmi Sifeddine</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/behaviours.js' %}" defer></script>
    <meta name="viewport" content="width-device-width, initial-scale=1">
</head>

<body>
    <section id="banner">
        <div class="navbar">
            <ul>
                <li><a href="https://github.com/isif00">Github</a></li>
                <li><a href="https://twitter.com/sifodz18">Twitter</a></li>
                <li><a href="https://salmisifeddine.itch.io/">Itch.io</a></li>
            </ul>
        </div> 

        <div class="content">
            <h1>Salmi Sifeddine</h1>
            <p>Motivated student working toward his bachelor degree in computer science.</p>

            <button id="skills" type="button"><span></span></a>skills</button>
            <button id="projects" type="button"><span></span>Projects</button>
        </div>
    </section>

    <section id="feature">
        <div class="title-text">
            <h1>skills</h1>
            <p>What can I do ?</p> 
        </div>

        <div class="container">

            <button id="Games" type="button">
                
                <div class="dark-logo">
                    <img src={% static 'images/game.png' %}>
                </div>
                <span><img src={% static 'images/game - Dark.png' %}></span>

                <div class="text">
                    <h1>Games Dev</h1>
                    <p>I create immersive gameplay experiences using Unity. I am skilled in game mechanics, game asset creation, and game design.</p>
                </div>
                
            </button>

            <button id="Apps" type="button">
                <div class="dark-logo">
                    <img src={% static 'images/Desktop.png' %}>
                </div>
                
                <span><img src={% static 'images/Desktop - Dark.png' %}></span>

                <div class="text">
                    <h1>Desktop apps Dev</h1>
                    <p>I have expertise in creating user-friendly interfaces, integrating with hardware and software components, and optimizing application performance.</p>
                </div>
            </button>

            <button id="Web" type="button">
                <div class="dark-logo">
                    <img src={% static 'images/web.png' %}>
                </div>
                
                <span><img src={% static 'images/web - Dark.png' %}></span>

                <div class="text">
                    <h1>Web Dev</h1>
                    <p>I design and develop user-friendly websites and web applications I provide optimization techniques to create responsive and visually appealing web pages.</p>
                </div>
            </button>

        </div>
    </section>

    <section>

        <div class="title-text">
            <h1>Projects</h1>
            <p>What did I build ?</p> 
        </div>

        <div class="projects-container">
            {% for project in projects %}
                        <button onclick="window.open('{{ project.link }}', '_blank')" id="project" type="button">
                            <img src="{{ project.image.url }}">
                            <h1>{{ project.title }}</h1>
                            <p>{{ project.description }}</p>
                        </button>
            {% endfor %}
        </div>

    </section>

    <section>
        <div class="footer">
            <div class="min-footer">
                <div class="title-text-footer">
                    <h1>Contact</h1>
                    <p>Get closer !</p> 
                </div>

                <div class="contact-info">
                    <h1>email : sifodev@gmail.com</h1>
                    <h1>Phone : +213 793531759</h1>
                </div>

            </div>
        </div>
    </section>


   

</body>

</html>