*{
    padding: 0;
    margin: 0;
    font-family: comfortaa;
}

#banner{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0.75)), url("bg1.1098441ce811.jpg");
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 50px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #009680;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    color: #fff;
    top: 50%;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.content button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009680;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.content span{
    border-radius: 25px;
    background: #009680;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.content button:hover span{
    width: 100%;
}

.content button:hover{
    border: none;
}

#feature{
    width: 100%;
    padding: 30px 0;

}

.title-text h1{
   margin: 20px;
   font-size: 30;
   color: #009680;
   font-weight: bold; 
   text-align: center;
}

.title-text p{
    margin: 20px;
    font-size: 30;
    font-weight: bold; 
    text-align: center;
 }



.features-text{
    flex-basis: 50%;
}


.features h1{
    text-align: left;
    color: #009680;
}

.features p{
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
}

.container{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.container button{
    width: 400px;
    height: 400px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 50%;
    font-weight: bold;
    border: 2px solid #009680;
    background: transparent;
    color: black;
    position: relative;
    overflow: hidden;
}

.container span{
    border-radius: 50%;
    background: rgb(0, 150, 128);
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.container img{
    position: absolute;
    height: 110px;
    width: 110px;
    top: 10%;
    left: 36%;
    transition: 0.5s;
    
}

.container button:hover span{
    height: 100%;
    width: 100%;
}

.container button:hover .dark-logo{
    display: none;
}

.container button:hover{
    color: #fff;
    border: none;
}

.container button .text h1{
    padding-top: 50px;
    align-items: center;
    margin: 18px;
    font-size: 25px;
}

.container button .text p{
    align-items: center;
    margin: 18px;
    font-size: 15px;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}

.projects-container button{
    width: 300px;
    height: 500px;
    padding: 25px 0;
    margin: 20px 10px;
    border-radius: 20px;
    font-weight: bold;
    background: linear-gradient(to top, rgba(0,0,0, 1), rgba(0, 0, 0, 0));
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s;
    outline: none;
    border: transparent;

}

.projects-container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.projects-container button h1 {
    position: relative;
    top: 40%;
    left: 0%;
    font-size: 25px;
}

.projects-container button p {
    position: relative;
    top: 42%;
    left: 0%;
    font-size: 15px;
}

.projects-container button:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}


.projects-container button:hover h1{
    top: 0%;
}
.projects-container button:hover p{
    top: 10%;
}

.projects-container button:hover{
    background: linear-gradient(to top, rgba(0,150,128, 1), rgba(0, 0, 0, 0.25));

}

.footer {
    background-color: rgb(0, 150, 128);
    height: 300px;
    width: 1600px;

}

.min-footer {
    background-color: rgb(255, 255, 255);
    height: 228px;
    width: 800px;
    position: relative;
    top: 17%;
    left: 22%;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.title-text-footer h1{
    padding-top: 20px;
    margin: 30px;
    font-size: 20;
    color: #009680;
    font-weight: bold; 
    text-align: center;
 }
 
.title-text-footer p{
     margin: 20px;
     font-size: 20;
     font-weight: bold; 
     text-align: center;
}

.contact-info{
    text-align: center
}


.contact-info h1{
    display: inline-block;
    margin: 20px;
    font-size: 15px;
}



 

@media  screen and (max-width: 770px) {
    .content h1{
        font-size: 40px;
    }
    .navbar ul li{
        margin: auto;
    }
    
}